body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

#root {
  width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.patient-medical-history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 82%;
  height: 60px;
  background-color: #3577f9;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  position: fixed; /* Fix the header at the top of the window */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure it stays above other content */
  margin-left: 262px;
  margin-top: 2px;
}

.patient-medical-history-main {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 0px; /* Add margin-top equal to the header height to avoid overlap */
  overflow-y: auto; 
  box-shadow: 0 20px 30px rgba(5, 6, 4, 0.5); 
  width: 500px;
  margin-left: -40px;
  margin-top: -80px;
  overflow: hidden;


}

.patient-medical-history {
  display: flex;
  height: calc(100vh - 60px); 
  width: 1320px;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
  text-align: left;
  margin-bottom: -20px;
}


/* Sidebar Styles */
.patient-medical-history-sidebar {
  background-color: #3577F9;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -43px;
  margin-top: -30px;
}

.patient-medical-history-profile {
  text-align: center;
}

.patient-medical-history-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.patient-medical-history-profile-info h2 {
  font-size: 15px;
  color: white;
  font-style: bold;
}

.patient-medical-history-profile-info p {
  font-size: 14px;
  color: white;
}

.patient-medical-history-nav {
  margin-top: 50px;
  width: 100%;
}

.patient-medical-history-nav-item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
}

.patient-medical-history-nav-item img {
  width: 24px;
  margin-right: 15px;
}

.patient-medical-history-nav-item.active,
.patient-medical-history-nav-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Additional Styles */
.patient-medical-history-title {
  font-size: 24px;
  color: #204795;
  margin-top: -10px;
  text-align: left;
}

.patient-medical-history-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 250px;
}

.patient-medical-history-card {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40%;
  text-align: center;
}

.patient-medical-history-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.patient-medical-history-card h3 {
  font-size: 24px;
  color: #000;
  margin-top: 0;
}

.patient-medical-history-card p {
  font-size: 18px;
  color: #000;
  margin: 5px 0;
}

.patient-medical-history-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
}

.information-card,
.prescription-card {
  background-color: #e3edff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
  width: 400px;
  height: 250px;
}

.information-card .card-title,
.prescription-card .card-title {
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
}

.information-details p,
.prescription-details p {
  font-size: 15px;
  color: #000;
  margin: -2px 0;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}

.back-btn {
  background-color: #3577f9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .patient-medical-history-nav-item span {
    display: none;
  }

  .patient-medical-history-cards {
    flex-direction: column;
  }

  .patient-medical-history-card,
  .patient-medical-history-details {
    width: 100%;
    margin: 0;
  }

  .patient-medical-history-details {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .patient-medical-history-sidebar {
    width: 100px;
    padding: 10px;
  }

  .patient-medical-history-profile-info {
    display: none;
  }

  .patient-medical-history-profile-pic {
    width: 50px;
    height: 50px;
  }

  .patient-medical-history-nav-item img {
    width: 20px;
  }

  .patient-medical-history-header h1 {
    font-size: 18px;
  }

  .doctor-header-right span {
    font-size: 16px;
  }

  .patient-medical-history-greeting {
    font-size: 24px;

  }

  .patient-medical-history-title {
    font-size: 20px;
  }

  .information-card .card-title,
  .prescription-card .card-title {
    font-size: 24px;
  }

  .information-details p,
  .prescription-details p {
    font-size: 20px;
  }
}
