/* src/App.css */

.app-container {
  display: flex;
}

.main-content {
  margin-left: 250px; /* Same width as the sidebar */
  padding-top: 60px; /* Same height as the top bar */
  padding: 20px;
  flex-grow: 1;
}
